<label>Name:</label>
<input type="text" ng-model="data.name">
<label>Description:</label>
<input type="text" ng-model="data.description">
<label>Status:</label>
<div class="button-bar" style="margin: 10px 0px 0px 0px;">
<input type="radio" ng-model="data.status" ng-value="1" />
<input type="radio" ng-model="data.status" ng-value="2"/>
<input type="radio" ng-model="data.status" ng-value="3"/>
</div>
<div class="button-bar text-center" style="margin: 10px 0px 0px 0px;">
<label style="width:33.5%;">:)</label>
<label style="width:33.5%;">:|</label>
<label style="width:33.5%;">:(</label>
</div>
