<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="text-center">
      <button ng-click="addSubject()" class="button button-block button-positive"> ADD SUBJECT </button>
    </div>

    <div>

    <div class="card" ng-repeat="subject in subjects">
      <div on-hold="onSubjectHold(subject.id)" ng-click="showInformation(subject.name,subject.description)" class="item item-text-wrap item-subject" ng-class="{'border-top-success': subject.status==1, 'border-top-warning': subject.status==2, 'border-top-error': subject.status==3}">
        {{subject.name}}
      </div>
    </div>

    </div>

  </ion-content>
</ion-view>
