<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="text-center">
      <button ng-click="addSubject()" class="button button-block button-positive"> ADD SUBJECT </button>
    </div>

    <div>

      <ion-list>
        <ion-item ng-repeat="subject in subjects"
        ng-click="showInformation(subject.name,subject.description)"
        class="item item-text-wrap item-subject"
        ng-class="{'border-top-success': subject.status==1, 'border-top-warning': subject.status==2, 'border-top-error': subject.status==3}">

        {{subject.name}}

        <ion-option-button ng-click="onEditClick(subject)" class="button-positive">Edit</ion-option-button>
        <ion-option-button ng-click="onDeleteClick(subject.id)" class="button-assertive">Delete</ion-option-button>

        </ion-item>
      </ion-list>

    </div>

  </ion-content>
</ion-view>
