<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="text-center">
      <button ng-click="addSubject()" class="button button-block button-positive"> ADD SUBJECT </button>
    </div>

    <div>
      <div class="card">
        <div ng-click="teste()" class="item item-text-wrap item-subject border-top-success">
          Programação I
        </div>
      </div>
      <div class="card">
        <div ng-click="teste()" class="item item-text-wrap item-subject border-top-success">
          Laboratório I
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap item-subject border-top-warning">
          Matemática para computação
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap item-subject border-top-error">
          Álgebra vetorial e matricial
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
